{% extends "layout.html" %}
{% block body %}

<h2>Information about /{{ link_id }}</h2>

<div id="bit-description">
    <p>This link redirects to <a href="{{ url }}">{{ url }}</a></p>

    <p>The short URL is: <input id="shorturl" readonly selected autofocus value="{{ base_url }}{{ link_id }}"></p>

    <p><img id="qrcode" src="{{ base_url }}{{ link_id }}.png"></p>

{% if stats %}
    <p>This link has statistics. Sadly, statistics display is not implemented yet.</p>
{% else %}
    <p>No one has clicked on this link yet</p>
{% endif %}
</div>
<script>
  document.getElementById("shorturl").focus();
  document.getElementById("shorturl").select();
</script>
{% endblock %}
